extends layout

block content
  .row
    .col-md-5
      .row-md.mb-4
        form(role='form' method='post' action='/customers/signin')
          fieldset
            p.text-uppercase.pull-center Customer Sign In
            .form-group
              input#signInCustomerUsername.form-control.input-lg(type='text' name='username' placeholder='Username' required)
            .form-group
              input#signInCustomerPassword.form-control.input-lg(type='password' name='password' placeholder='Password' required)
            div(class='mt-3')
              input.btn.btn-primary(type='submit' value='Sign In')
      .row-md.mb-4
        form(role='form' method='post' action='/sellers/signin')
          fieldset
            p.text-uppercase.pull-center Seller Sign In
            .form-group
              input#signUpCustomerUsername.form-control.input-lg(type='text' name='username' placeholder='Username' required)
            .form-group
              input#signUpCustomerPassword.form-control.input-lg(type='password' name='password' placeholder='Password' required)
            div(class='mt-3')
              input.btn.btn-primary(type='submit' value='Sign In')
    .col-md-2
      // -----null----
    .col-md-5
      form#signUpForm(role='form' method='post' action='/customers/signup')
        fieldset
          p.text-uppercase.pull-center Sign Up
          .form-group
            input#signUpUsername.form-control.input-lg(type='text' name='username' placeholder='Username' required)
          .form-group
            input#signUpEmail.form-control.input-lg(type='email' name='email' placeholder='E-Mail Address' required)
          .form-group
            input#signUpConfirmEmail.form-control.input-lg(type='email' name='confirmEmail' placeholder='Confirm E-Mail Address' required)
          .form-group
            input#signUpPassword.form-control.input-lg(type='password' name='password' placeholder='Password' required)
          .form-group
            input#signUpConfirmPassword.form-control.input-lg(type='password' name='confirmPassword' placeholder='Confirm Password' required)
          .form-check
            label.form-check-label
              input#sellerCheckbox.form-check-input(type='checkbox')
              |                         Check if you want to create a Seller Account
          div(class='mt-3')
            input.btn.btn-primary(type='submit' value='Sign Up')
  script.
    $(document).ready(function () {
      $('#sellerCheckbox').change(function () {
        let checked = $('#sellerCheckbox').is(':checked');
        if (checked) {
          $('#signUpForm').attr('action', '/sellers/signup');
        } else {
          $('#signUpForm').attr('action', '/customers/signup');
        }
      })
    });
