extends layout

block content
  div(class='d-flex justify-content-center align-items-center')
    h1(class='mr-3 pr-3 align-top border-right inline-block align-content-center')= status
    div(class='inline-block align-middle')
      h2(class='font-weight-normal lead')= message
  if stack
    div(class='d-flex justify-content-center align-items-center mt-4')
      pre #{stack}
