extends layout

block content
  html
    body
      h2 Information according to § 5 TMG
      p
        | Max Musterman
        br
        | BookBase
        br
        | Paul-Wittsack-Straße 10
        br
        | 68163 Mannheim
      h2 Contact
      p
        | Phone: +49 (0) 123 44 55 66
        br
        | Fax: +49 (0) 123 44 55 99
        br
        | E-Mail: bookbase@example.com
      h2 Sales tax ID
      p
        | Sales tax identification number according to § 27 a Umsatzsteuergesetz:
        br
        | DE999999999
      h2 EU Dispute Resolution
      p
        | The European Commission provides a platform for online dispute resolution (OS):
        a(href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener noreferrer") https://ec.europa.eu/consumers/odr
        | .
        br
        |  You can find our e-mail address in the imprint above.
      h2 Consumer dispute resolution/universal arbitration board
      p
        | We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.
      h3 Liability for contents
      p
        | As a service provider, we are responsible for our own content on these pages in accordance with general legislation pursuant to Section 7 (1) of the German Telemedia Act (TMG). According to §§ 8 to 10 TMG, however, we are not obligated as a service provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.
      p
        | Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a concrete infringement. If we become aware of such infringements, we will remove this content immediately.
      h3 Liability for links
      p
        | Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal contents were not recognizable at the time of linking.
      p
        | However, a permanent control of the contents of the linked pages is not reasonable without concrete evidence of a violation of the law. If we become aware of any infringements, we will remove such links immediately.
      h3 Copyright
      p
        | The content and works created by the site operators on these pages are subject to German copyright law. The reproduction, editing, distribution and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use.
      p
        | Insofar as the content on this page was not created by the operator, the copyrights of third parties are respected. In particular, third-party content is identified as such. Should you nevertheless become aware of a copyright infringement, we request that you notify us accordingly. If we become aware of any infringements, we will remove such content immediately.
      p
        | Source:
        a(href="https://www.e-recht24.de") https://www.e-recht24.de
