extends layout

block content
  .row
    .col-md-6.mx-auto
      form#signUpForm(role='form' method='post' action='/customers/register')
        fieldset
          p.text-uppercase.pull-center Register
          .form-group
            input#signUpUsername.form-control.input-lg(type='text' name='username' placeholder='Username' required)
          .form-group
            input#signUpEmail.form-control.input-lg(type='email' name='email' placeholder='E-Mail Address' required)
          .form-group
            input#signUpConfirmEmail.form-control.input-lg(type='email' name='confirmEmail' placeholder='Confirm E-Mail Address' required)
          .form-group
            input#signUpPassword.form-control.input-lg(type='password' name='password' placeholder='Password' minlength='8' maxlength='32' required)
          .form-group
            input#signUpConfirmPassword.form-control.input-lg(type='password' name='confirmPassword' placeholder='Confirm password' minlength='8' maxlength='32' required)
          .form-group
            p What is your favorite image editing program?
            input#signUpSecurityAnswer.form-control.input-lg(type='text' name='securityAnswer' placeholder='Security question answer' required)
          .form-check
            label.form-check-label
              input#sellerCheckbox.form-check-input(type='checkbox')
              |                         Check if you want to create a Seller Account
          div(class='mt-3')
            input.btn.btn-primary(type='submit' value='Register')
  script.
    $(document).ready(function () {
      $('#sellerCheckbox').change(function () {
        let checked = $('#sellerCheckbox').is(':checked');
        if (checked) {
          $('#signUpForm').attr('action', '/sellers/register');
        } else {
          $('#signUpForm').attr('action', '/customers/register');
        }
      })
    });
